server:
  port: 8080

spring:
  application:
    name: api-gateway
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

services:
  auth:
    uri: http://auth-service:8081
    path: "/api/auth/**"
    strip: 2
  user:
    uri: http://user-service:8082
    path: "/api/users/**"
    strip: 2
